<nav>
<p><button data-toggle="collapse" data-target="#global_nav" id="navbutton">Proctor - All Topics</button></p>

<div id="global_nav" class="collapse">

<div style="width: 100%">

 <h3 data-toc-skip>Getting Started</h3>
  <a href="{{ site.baseurl }}/">Introduction</a>
  {% include docs_ul.html items='overview quick-start' %}
  <h3 data-toc-skip>Application Usage</h3>
  {% include docs_ul.html items='key-features' %}
  <h3 data-toc-skip>Contributing</h3>
    {% include docs_ul.html items='contributing' %}  

<br style="clear: left;" />
</div>
</div>
</nav>
