
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.header_label {
	font-size: $font-size-large;
}

.header_fill {
    flex: 1;
}

input[type="text"].header_filter {
    border: none;
    margin: 0 10px;
	padding: .25rem 0;
    text-align: right;

	transition-duration: $animation-length;
	transition-property: border-color, padding;

	&:hover {
		padding: .25rem;
	}

	&:focus {
		padding: .25rem;
		border-color: $color-light;
	}
}