
input[type="text"], input[type="number"], input[type="password"] {
    outline: none !important;
	color: $color-font;
	background: transparent;
	border: 1px solid transparent;
	border-color: $color-border;
}