@import './settings.scss';
@import './normalize.scss';

@import './elements/a.scss';
@import './elements/charts.scss';
@import './elements/contentPanel.scss';
@import './elements/header.scss';
@import './elements/modal.scss';
@import './elements/select.scss';
@import './elements/svg.scss';
@import './elements/table.scss';
@import './elements/textarea.scss';
@import './elements/textbox.scss';

@import 'chartist/dist/scss/chartist.scss';

html, body, div, input, select {
	box-sizing: border-box;
}

html, body, #root {
	min-height: 100vh;
}

html {
	font-family: $font;
	font-size: $font-size;
	font-weight: 300;
	color: $color-font;
}

#root {
	display: flex;
	flex-direction: column;
}

.titleBar_logo {
	width: 80px;
	height: 80px;
}

#shell {
	display: flex;
	min-height: calc(100vh - 55px);
}

#menu {
    background-color: $color-lightest;
    padding: 10px;
    width: 72px;
}

#content {
	padding: 0 45px;
	flex: 1;
	width: calc(100vw - 72px);
}
