
$color-white: #FFF;
$color-lightest: #F0F0F0;
$color-light: #AAA;
$color-dark: #888098;
$color-darkest: #344055;

$color-accent: #326CE5;
$color-warn: #aaa810;
$color-error: #B9314F;
$color-neutral: $color-dark;

$color-font: $color-darkest;

$animation-length: .25s;

$font: sans-serif;
$font-size-small: 7pt;
$font-size: 10pt;
$font-size-medium: 13pt;
$font-size-large: 16pt;
$font-size-xlarge: 100px;

$media-xsmall: 700px;
$media-small: 812px;
$media-medium: 1200px;